Лабораторна робота 4
виконав Філонов Дмитро ФБ-22

In [1]:
import pandas as pd
import numpy as np
import timeit
from IPython.display import display
import datetime

створив датафрейм і numpy array

In [2]:
np.set_printoptions(edgeitems=5)
df = pd.read_csv("data.txt", sep=';')
df = df.drop(df[df.eq("?").any(axis=1)].index)
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y').dt.date
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S').dt.time
df[['Global_active_power', 'Global_reactive_power', 'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2']] = df[['Global_active_power', 'Global_reactive_power', 'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2']].astype(float)
np_arr = df.to_numpy()

C:\Users\dddddd\AppData\Local\Temp\ipykernel_20540\4261026605.py:2: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data.txt", sep=';')

1. Обрати всі домогосподарства, у яких загальна активна споживана
потужність перевищує 5 кВт.

In [3]:
def find_high_power_pd(df):
    return df[df['Global_active_power']>5]

def find_high_power_np(np_arr):
    return np_arr[np_arr[:, 2]>5]

dff = find_high_power_pd(df)
display(dff)
print(find_high_power_np(np_arr))
p = timeit.timeit("find_high_power_pd(df)", globals=globals(), number=10)
n = timeit.timeit("find_high_power_np(np_arr)", globals=globals(), number=10)
print("час для датафрейму", p, "\nдля numpy array", n)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,2006-12-16,17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,2006-12-16,17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...
2069356,2010-11-22,18:40:00,5.408,0.150,231.50,23.6,48.0,0.0,0.0
2069357,2010-11-22,18:41:00,5.528,0.144,232.48,24.6,53.0,0.0,0.0
2071586,2010-11-24,07:50:00,5.172,0.050,235.18,22.0,0.0,38.0,17.0
2071587,2010-11-24,07:51:00,5.750,0.000,234.40,24.6,0.0,39.0,17.0
2072997,2010-11-25,07:21:00,5.074,0.240,238.55,21.4,1.0,2.0,18.0

[[datetime.date(2006, 12, 16) datetime.time(17, 25) 5.36 0.436 233.63
  23.0 0.0 1.0 16.0]
 [datetime.date(2006, 12, 16) datetime.time(17, 26) 5.374 0.498 233.29
  23.0 0.0 2.0 17.0]
 [datetime.date(2006, 12, 16) datetime.time(17, 27) 5.388 0.502 233.74
  23.0 0.0 1.0 17.0]
 [datetime.date(2006, 12, 16) datetime.time(17, 35) 5.412 0.47 232.78
  23.2 0.0 1.0 17.0]
 [datetime.date(2006, 12, 16) datetime.time(17, 36) 5.224 0.478 232.99
  22.4 0.0 1.0 16.0]
 ...
 [datetime.date(2010, 11, 22) datetime.time(18, 40) 5.408 0.15 231.5 23.6
  48.0 0.0 0.0]
 [datetime.date(2010, 11, 22) datetime.time(18, 41) 5.528 0.144 232.48
  24.6 53.0 0.0 0.0]
 [datetime.date(2010, 11, 24) datetime.time(7, 50) 5.172 0.05 235.18 22.0
  0.0 38.0 17.0]
 [datetime.date(2010, 11, 24) datetime.time(7, 51) 5.75 0.0 234.4 24.6
  0.0 39.0 17.0]
 [datetime.date(2010, 11, 25) datetime.time(7, 21) 5.074 0.24 238.55 21.4
  1.0 2.0 18.0]]
час для датафрейму 0.05566800000087824
для numpy array 0.6290761000000202

2. Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.

In [4]:
def find_high_voltage_pd(df):
    return df[df['Voltage']>235]

def find_high_voltage_np(np_arr):
    return np_arr[np_arr[:, 4]>235]

dff = find_high_voltage_pd(df)
display(dff)
print(find_high_voltage_np(np_arr))
p = timeit.timeit("find_high_voltage_pd(df)", globals=globals(), number=1)
n = timeit.timeit("find_high_voltage_np(np_arr)", globals=globals(), number=1)
print("час для датафрейму", p, "\nдля numpy array", n)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,2006-12-16,17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,2006-12-16,17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,2006-12-16,17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
14,2006-12-16,17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,2010-11-26,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,2010-11-26,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,2010-11-26,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,2010-11-26,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,2010-11-26,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

[[datetime.date(2006, 12, 16) datetime.time(17, 28) 3.666 0.528 235.68
  15.8 0.0 1.0 17.0]
 [datetime.date(2006, 12, 16) datetime.time(17, 29) 3.52 0.522 235.02
  15.0 0.0 2.0 17.0]
 [datetime.date(2006, 12, 16) datetime.time(17, 30) 3.702 0.52 235.09
  15.8 0.0 1.0 17.0]
 [datetime.date(2006, 12, 16) datetime.time(17, 31) 3.7 0.52 235.22 15.8
  0.0 1.0 17.0]
 [datetime.date(2006, 12, 16) datetime.time(17, 38) 4.054 0.422 235.24
  17.6 0.0 1.0 17.0]
 ...
 [datetime.date(2010, 11, 26) datetime.time(20, 58) 0.946 0.0 240.43 4.0
  0.0 0.0 0.0]
 [datetime.date(2010, 11, 26) datetime.time(20, 59) 0.944 0.0 240.0 4.0
  0.0 0.0 0.0]
 [datetime.date(2010, 11, 26) datetime.time(21, 0) 0.938 0.0 239.82 3.8
  0.0 0.0 0.0]
 [datetime.date(2010, 11, 26) datetime.time(21, 1) 0.934 0.0 239.7 3.8
  0.0 0.0 0.0]
 [datetime.date(2010, 11, 26) datetime.time(21, 2) 0.932 0.0 239.55 3.8
  0.0 0.0 0.0]]
час для датафрейму 0.14955430000009073
для numpy array 0.2552132000000711

3. Обрати всі домогосподарства, у яких сила струму лежить в межах
19-20 А, для них виявити ті, у яких пральна машина та холодильних
споживають більше, ніж бойлер та кондиціонер.

In [5]:
def find_intensity_pd(df):
    return df[(df['Global_intensity'].between(19, 20))&(df['Sub_metering_2']>df['Sub_metering_3'])]

def find_intensity_np(np_arr):
    return np_arr[(np_arr[:, 5]>=19)&(np_arr[:, 5]<=20)&(np_arr[:, 7]>np_arr[:, 8])]
dff = find_intensity_pd(df)
display(dff)
print(find_intensity_np(np_arr))
p = timeit.timeit("find_intensity_pd(df)", globals=globals(), number=10)
n = timeit.timeit("find_intensity_np(np_arr)", globals=globals(), number=10)
print("час для датафрейму", p, "\nдля numpy array", n)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,2006-12-16,18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
460,2006-12-17,01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
464,2006-12-17,01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
475,2006-12-17,01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
476,2006-12-17,01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0
...,...,...,...,...,...,...,...,...,...
2071589,2010-11-24,07:53:00,4.666,0.000,235.72,19.8,0.0,39.0,17.0
2071590,2010-11-24,07:54:00,4.694,0.000,236.78,19.8,0.0,39.0,18.0
2071591,2010-11-24,07:55:00,4.602,0.000,237.08,19.4,0.0,40.0,17.0
2071592,2010-11-24,07:56:00,4.536,0.000,237.03,19.0,0.0,39.0,17.0
2071593,2010-11-24,07:57:00,4.626,0.000,236.78,19.4,0.0,39.0,17.0

[[datetime.date(2006, 12, 16) datetime.time(18, 9) 4.464 0.136 234.66
  19.0 0.0 37.0 16.0]
 [datetime.date(2006, 12, 17) datetime.time(1, 4) 4.582 0.258 238.08 19.6
  0.0 13.0 0.0]
 [datetime.date(2006, 12, 17) datetime.time(1, 8) 4.618 0.104 239.61 19.6
  0.0 27.0 0.0]
 [datetime.date(2006, 12, 17) datetime.time(1, 19) 4.636 0.14 237.37 19.4
  0.0 36.0 0.0]
 [datetime.date(2006, 12, 17) datetime.time(1, 20) 4.634 0.152 237.17
  19.4 0.0 35.0 0.0]
 ...
 [datetime.date(2010, 11, 24) datetime.time(7, 53) 4.666 0.0 235.72 19.8
  0.0 39.0 17.0]
 [datetime.date(2010, 11, 24) datetime.time(7, 54) 4.694 0.0 236.78 19.8
  0.0 39.0 18.0]
 [datetime.date(2010, 11, 24) datetime.time(7, 55) 4.602 0.0 237.08 19.4
  0.0 40.0 17.0]
 [datetime.date(2010, 11, 24) datetime.time(7, 56) 4.536 0.0 237.03 19.0
  0.0 39.0 17.0]
 [datetime.date(2010, 11, 24) datetime.time(7, 57) 4.626 0.0 236.78 19.4
  0.0 39.0 17.0]]
час для датафрейму 0.0988030999997136
для numpy array 1.392445499999667

4. Обрати випадковим чином 500000 домогосподарств (без повторів
елементів вибірки), для них обчислити середні величини усіх 3-х
груп споживання електричної енергії, а також

In [6]:
def find_avg_pd(df):
    df_random = df.sample(n=500000)
    print('Sub_metering_1 avg:', df_random['Sub_metering_1'].mean())
    print('Sub_metering_2 avg:', df_random['Sub_metering_2'].mean())
    print('Sub_metering_3 avg:', df_random['Sub_metering_3'].mean())

def find_avg_np(np_arr):
    num_rows = np_arr.shape[0]
    random_row = np.random.choice(num_rows, size=500000, replace=False)
    np_arr_random = np_arr[random_row, :]
    print('Sub_metering_1 avg:', np.mean(np_arr_random[:, 6]))
    print('Sub_metering_2 avg:', np.mean(np_arr_random[:, 7]))
    print('Sub_metering_3 avg:', np.mean(np_arr_random[:, 8]))
print('for pd')
p = timeit.timeit("find_avg_pd(df)", globals=globals(), number=1)
print('for np')
n = timeit.timeit("find_avg_np(np_arr)", globals=globals(), number=1)
print("час для датафрейму", p, "\nдля numpy array", n)

for pd
Sub_metering_1 avg: 1.124138
Sub_metering_2 avg: 1.298234
Sub_metering_3 avg: 6.463164
for np
Sub_metering_1 avg: 1.120214
Sub_metering_2 avg: 1.299834
Sub_metering_3 avg: 6.474874
час для датафрейму 0.2575208999987808
для numpy array 0.3985869999996794

5. Обрати ті домогосподарства, які після 18-00 споживають понад 6
кВт за хвилину в середньому, серед відібраних визначити ті, у яких
основне споживання електроенергії у вказаний проміжок часу
припадає на пральну машину, сушарку, холодильник та освітлення
(група 2 є найбільшою), а потім обрати кожен третій результат із
першої половини та кожен четвертий результат із другої половини.

In [7]:
def find_highpower_pd(df):
    df_highpower = df.sample(n=500000)
    df_highpower = df_highpower[(df_highpower['Time']>datetime.time(18,0,0)) & (df_highpower['Global_active_power']>6) & (df_highpower['Sub_metering_2']>df_highpower['Sub_metering_3']) & (df_highpower['Sub_metering_2']>df_highpower['Sub_metering_1'])]
    indexes = list(range(0, len(df_highpower)//2, 3))
    indexes.extend(list(range(len(df_highpower)//2, len(df_highpower), 4)))
    df_highpower = df_highpower.iloc[indexes]
    return df_highpower
def find_highpower_np(np_arr):
    num_rows = np_arr.shape[0]
    random_row = np.random.choice(num_rows, size=500000, replace=False)
    np_arr_random = np_arr[random_row, :]
    np_arr_random = np_arr_random[(np_arr_random[:, 2]>6)&(np_arr_random[:, 1]>datetime.time(18,0,0))&(np_arr_random[:, 7]>np_arr_random[:, 6])&(np_arr_random[:, 7]>np_arr_random[:, 8])]
    rows = np_arr_random.shape[0]
    indexes = list(range(0, rows//2, 3))
    indexes.extend(list(range(rows//2, rows, 4)))
    np_highpower = np_arr_random[indexes, :]
    return np_highpower
dff = find_highpower_pd(df)
display(dff)
print(find_highpower_np(np_arr))
p = timeit.timeit("find_highpower_pd(df)", globals=globals(), number=1)
n = timeit.timeit("find_highpower_np(np_arr)", globals=globals(), number=1)
print("час для датафрейму", p, "\nдля numpy array", n)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1598594,2009-12-30,20:38:00,7.460,0.094,234.16,32.0,34.0,36.0,18.0
1019594,2008-11-23,18:38:00,6.428,0.336,232.45,27.8,0.0,21.0,17.0
1267413,2009-05-14,20:57:00,6.692,0.110,235.73,28.4,0.0,73.0,18.0
777857,2008-06-08,21:41:00,6.878,0.158,235.67,29.2,0.0,73.0,17.0
514273,2007-12-08,20:37:00,6.008,0.316,234.51,25.6,0.0,37.0,17.0
...,...,...,...,...,...,...,...,...,...
1575438,2009-12-14,18:42:00,6.008,0.442,238.30,25.4,0.0,38.0,18.0
1029770,2008-11-30,20:14:00,8.016,0.086,232.81,34.4,1.0,71.0,17.0
1723751,2010-03-27,18:35:00,6.600,0.252,234.02,28.2,0.0,71.0,17.0
813855,2008-07-03,21:39:00,6.160,0.000,234.34,26.2,1.0,72.0,17.0
433593,2007-10-13,19:57:00,6.188,0.334,231.54,26.8,0.0,34.0,17.0

[[datetime.date(2007, 3, 4) datetime.time(19, 44) 6.312 0.144 231.98 27.2
  0.0 71.0 16.0]
 [datetime.date(2010, 11, 20) datetime.time(18, 37) 6.31 0.412 229.89
  27.8 15.0 35.0 16.0]
 [datetime.date(2008, 3, 23) datetime.time(20, 33) 6.49 0.196 234.04 27.6
  0.0 72.0 17.0]
 [datetime.date(2010, 1, 30) datetime.time(18, 21) 6.86 0.202 234.07 29.2
  1.0 72.0 17.0]
 [datetime.date(2008, 9, 22) datetime.time(20, 22) 6.738 0.128 234.38
  28.6 1.0 71.0 18.0]
 [datetime.date(2008, 11, 4) datetime.time(20, 53) 6.426 0.244 233.21
  28.0 0.0 60.0 17.0]
 [datetime.date(2008, 3, 5) datetime.time(18, 35) 6.512 0.272 233.92 27.8
  0.0 72.0 0.0]
 [datetime.date(2006, 12, 29) datetime.time(21, 23) 6.148 0.052 230.2
  26.6 0.0 70.0 0.0]
 [datetime.date(2010, 11, 20) datetime.time(18, 18) 7.158 0.08 229.73
  31.0 0.0 68.0 16.0]
 [datetime.date(2007, 11, 12) datetime.time(20, 39) 7.702 0.276 233.42
  33.0 0.0 73.0 17.0]
 [datetime.date(2009, 3, 31) datetime.time(20, 34) 6.682 0.148 232.77
  28.6 0.0 70.0 17.0]
 [datetime.date(2009, 11, 24) datetime.time(19, 40) 8.422 0.376 234.06
  36.2 37.0 48.0 17.0]
 [datetime.date(2007, 3, 20) datetime.time(21, 44) 6.134 0.374 230.76
  26.6 1.0 36.0 17.0]
 [datetime.date(2009, 4, 17) datetime.time(20, 54) 6.156 0.054 234.94
  26.4 0.0 58.0 17.0]
 [datetime.date(2007, 12, 4) datetime.time(21, 25) 6.312 0.434 237.09
  26.8 0.0 37.0 17.0]
 [datetime.date(2007, 12, 23) datetime.time(19, 46) 6.25 0.524 233.51
  27.2 18.0 21.0 16.0]
 [datetime.date(2007, 9, 12) datetime.time(22, 3) 6.156 0.266 233.68 26.2
  0.0 72.0 17.0]
 [datetime.date(2010, 1, 23) datetime.time(18, 33) 6.848 0.61 232.66 29.4
  0.0 41.0 27.0]
 [datetime.date(2009, 4, 17) datetime.time(20, 42) 7.454 0.234 235.93
  31.6 0.0 72.0 18.0]
 [datetime.date(2007, 12, 4) datetime.time(21, 27) 6.524 0.376 235.58
  27.8 0.0 36.0 17.0]
 [datetime.date(2007, 4, 1) datetime.time(18, 46) 6.198 0.272 234.15 26.4
  1.0 72.0 17.0]
 [datetime.date(2008, 3, 23) datetime.time(20, 28) 7.268 0.192 233.61
  31.0 0.0 72.0 17.0]
 [datetime.date(2009, 4, 17) datetime.time(20, 41) 6.614 0.228 236.25
  28.4 0.0 55.0 18.0]
 [datetime.date(2008, 3, 23) datetime.time(20, 29) 7.222 0.202 233.71
  30.8 0.0 73.0 17.0]
 [datetime.date(2008, 5, 18) datetime.time(20, 36) 7.032 0.0 233.97 30.0
  34.0 36.0 17.0]
 [datetime.date(2007, 3, 31) datetime.time(20, 6) 6.564 0.528 236.02 28.0
  0.0 37.0 17.0]
 [datetime.date(2007, 8, 24) datetime.time(20, 49) 8.366 0.724 232.79
  36.0 36.0 38.0 17.0]
 [datetime.date(2007, 1, 20) datetime.time(19, 26) 6.198 0.384 232.22
  26.6 0.0 36.0 16.0]
 [datetime.date(2008, 11, 23) datetime.time(18, 30) 6.72 0.216 229.62
  29.2 0.0 35.0 16.0]
 [datetime.date(2008, 12, 9) datetime.time(18, 7) 7.136 0.0 234.43 30.4
  0.0 37.0 0.0]
 [datetime.date(2007, 10, 13) datetime.time(20, 33) 6.158 0.472 233.06
  26.6 0.0 36.0 16.0]
 [datetime.date(2008, 11, 4) datetime.time(20, 47) 7.482 0.408 233.3 32.0
  0.0 73.0 16.0]
 [datetime.date(2007, 10, 13) datetime.time(20, 16) 6.226 0.126 232.91
  26.6 0.0 35.0 16.0]
 [datetime.date(2009, 2, 11) datetime.time(18, 27) 7.736 0.258 232.45
  33.2 34.0 35.0 16.0]
 [datetime.date(2009, 2, 28) datetime.time(18, 42) 6.004 0.402 229.4 26.4
  0.0 54.0 16.0]
 [datetime.date(2009, 11, 24) datetime.time(21, 11) 6.768 0.056 234.86
  28.8 1.0 35.0 0.0]
 [datetime.date(2008, 4, 20) datetime.time(21, 11) 6.436 0.382 232.1 27.6
  1.0 37.0 17.0]
 [datetime.date(2008, 11, 23) datetime.time(18, 15) 7.61 0.47 229.69 33.2
  0.0 36.0 17.0]
 [datetime.date(2009, 1, 1) datetime.time(20, 49) 7.82 0.164 236.59 33.4
  0.0 73.0 0.0]
 [datetime.date(2007, 9, 26) datetime.time(21, 24) 6.52 0.372 232.61 28.2
  0.0 37.0 17.0]
 [datetime.date(2009, 11, 24) datetime.time(19, 37) 9.732 0.378 231.54
  42.0 36.0 69.0 17.0]
 [datetime.date(2007, 1, 7) datetime.time(18, 3) 6.458 0.0 230.85 27.8
  0.0 69.0 16.0]
 [datetime.date(2010, 2, 23) datetime.time(21, 58) 6.498 0.074 233.24
  27.8 0.0 72.0 18.0]
 [datetime.date(2010, 2, 23) datetime.time(21, 57) 6.472 0.098 232.72
  27.8 0.0 72.0 17.0]
 [datetime.date(2008, 11, 22) datetime.time(21, 41) 6.76 0.28 231.62 29.2
  1.0 36.0 17.0]
 [datetime.date(2007, 2, 15) datetime.time(19, 37) 6.906 0.608 233.8 29.6
  0.0 37.0 17.0]
 [datetime.date(2007, 12, 8) datetime.time(20, 25) 6.058 0.272 233.76
  25.8 0.0 35.0 17.0]
 [datetime.date(2008, 3, 5) datetime.time(18, 30) 6.276 0.172 234.28 26.8
  0.0 68.0 0.0]
 [datetime.date(2007, 12, 23) datetime.time(19, 10) 6.764 0.244 231.21
  29.2 0.0 70.0 0.0]
 [datetime.date(2006, 12, 28) datetime.time(21, 8) 7.352 0.0 235.45 31.2
  1.0 73.0 17.0]
 [datetime.date(2007, 1, 20) datetime.time(19, 20) 7.202 0.44 228.37 32.0
  0.0 35.0 16.0]
 [datetime.date(2007, 3, 6) datetime.time(20, 55) 6.508 0.124 234.85 27.6
  0.0 38.0 17.0]
 [datetime.date(2008, 11, 23) datetime.time(18, 37) 6.408 0.328 233.08
  27.6 0.0 28.0 16.0]
 [datetime.date(2007, 11, 12) datetime.time(20, 27) 7.16 0.424 232.17
  31.0 0.0 37.0 17.0]
 [datetime.date(2010, 11, 20) datetime.time(18, 27) 8.6 0.09 226.94 38.2
  44.0 51.0 16.0]
 [datetime.date(2008, 11, 4) datetime.time(21, 38) 6.546 0.23 236.07 27.6
  0.0 73.0 17.0]
 [datetime.date(2007, 6, 3) datetime.time(21, 57) 6.156 0.216 228.9 26.8
  0.0 69.0 0.0]
 [datetime.date(2007, 1, 20) datetime.time(19, 28) 6.11 0.272 232.12 26.4
  0.0 32.0 17.0]
 [datetime.date(2007, 6, 25) datetime.time(21, 24) 6.182 0.136 234.11
  27.8 0.0 52.0 17.0]
 [datetime.date(2007, 12, 9) datetime.time(19, 26) 6.17 0.286 230.36 26.8
  0.0 34.0 16.0]
 [datetime.date(2010, 1, 15) datetime.time(20, 48) 7.974 0.504 238.0 34.0
  6.0 64.0 18.0]
 [datetime.date(2007, 6, 3) datetime.time(21, 59) 6.17 0.192 229.19 26.8
  0.0 70.0 0.0]
 [datetime.date(2010, 11, 20) datetime.time(18, 45) 6.564 0.43 228.43
  29.0 13.0 40.0 16.0]
 [datetime.date(2008, 11, 23) datetime.time(20, 29) 7.162 0.204 231.92
  30.8 1.0 36.0 17.0]
 [datetime.date(2007, 2, 22) datetime.time(21, 5) 9.16 0.0 226.94 40.2
  35.0 68.0 16.0]
 [datetime.date(2007, 3, 20) datetime.time(21, 45) 6.134 0.28 232.25 26.4
  1.0 36.0 16.0]
 [datetime.date(2007, 12, 4) datetime.time(21, 47) 6.018 0.0 238.03 25.2
  0.0 36.0 17.0]
 [datetime.date(2007, 11, 17) datetime.time(18, 36) 6.064 0.446 231.19
  26.2 0.0 35.0 16.0]
 [datetime.date(2010, 5, 2) datetime.time(19, 11) 7.044 0.048 232.93 30.4
  26.0 72.0 13.0]
 [datetime.date(2007, 3, 20) datetime.time(21, 47) 6.026 0.246 232.11
  26.0 1.0 36.0 17.0]
 [datetime.date(2006, 12, 28) datetime.time(21, 6) 7.184 0.0 235.7 30.4
  2.0 73.0 17.0]
 [datetime.date(2008, 11, 23) datetime.time(18, 51) 6.966 0.422 231.47
  30.0 0.0 40.0 16.0]
 [datetime.date(2010, 1, 23) datetime.time(18, 34) 6.238 0.602 233.61
  26.8 0.0 35.0 28.0]
 [datetime.date(2010, 3, 27) datetime.time(18, 33) 6.17 0.33 234.15 26.6
  0.0 63.0 17.0]
 [datetime.date(2010, 11, 20) datetime.time(18, 17) 7.046 0.07 229.0 30.6
  0.0 66.0 16.0]
 [datetime.date(2010, 3, 27) datetime.time(18, 40) 6.554 0.09 232.59 28.0
  0.0 71.0 18.0]
 [datetime.date(2007, 3, 31) datetime.time(19, 59) 6.566 0.536 236.24
  28.0 0.0 37.0 17.0]
 [datetime.date(2008, 4, 20) datetime.time(21, 7) 7.452 0.346 232.31 32.2
  1.0 68.0 17.0]
 [datetime.date(2007, 6, 3) datetime.time(21, 58) 6.184 0.226 229.09 27.0
  0.0 70.0 0.0]]
час для датафрейму 0.31262880000031146
для numpy array 0.46314279999933206